@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0% {
    transform: scale(1.1) rotate(0deg);
  }
  25% {
    transform: scale(1.1) rotate(5deg);
  }
  50% {
    transform: scale(1.1) rotate(-5deg);
  }
  75% {
    transform: scale(1.1) rotate(4deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.container {
  width: auto;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section-padding {
  padding: 4rem 0;
}

.btn {
  cursor: pointer;
  outline: none;
  appearance: none;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 600;

  &:disabled {
    background-color: #ccc;
    opacity: 0.6;
    color: #fff;
    cursor: not-allowed;
  }
}

.save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  gap: 0.4rem;
  border-radius: 9999px;
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: #fff;
  gap: 0.4rem;
  border-radius: 9999px;
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.p-dropdown {
  .p-dropdown-label.p-inputtext {
    &:focus {
      outline: none;
    }
  }
}

.p-dropdown-panel {
  .p-dropdown-items-wrapper {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;

    .p-dropdown-items {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .p-dropdown-item {
        padding: 0.8rem 1.6rem;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: #f5f5f5;
        }

        &.p-focus {
          background-color: #ccc;
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  .field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;

    label {
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      font-weight: 600;
      color: #333;

      h4 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #333;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        color: #333;
      }
    }

    .field-input {
      width: 100%;
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 0.4rem;
      font-size: 1.4rem;
      color: #333;
      outline: none;

      &:focus {
        box-shadow: 0 0.4rem 1.2rem rgb(0, 123, 255, 0.2);
      }
    }

    .field-dropdown {
      width: 100%;
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 0.4rem;
      font-size: 1.4rem;
      color: #333;

      &:focus {
        box-shadow: 0 0.4rem 1.2rem rgb(0, 123, 255, 0.2);
      }
    }

    .field-input.p-invalid,
    .field-dropdown.p-invalid {
      border: 1px solid red !important;
    }

    .p-error {
      color: red;
      font-size: 0.875rem;
    }
  }

  .btn-container {
    p {
      margin-top: 2.4rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #333;
    }
  }
}

.preview-box {
  width: 32rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow: hidden;

  .preview-image {
    width: 100%;
    height: 32rem;
    background: linear-gradient(45deg, #f0f0f0 25%, transparent 25%),
      linear-gradient(-45deg, #f0f0f0 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #f0f0f0 75%),
      linear-gradient(-45deg, transparent 75%, #f0f0f0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
    background-repeat: repeat;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .preview-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      padding: 0.4em;
      font-size: 1.2rem;
      font-weight: 400;
      color: #333;
      background-color: #f9f9f9;
    }

    .btn-container {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      .btn {
        font-size: 1.4rem;
        padding: 0.4rem;
        transition: all 0.24s ease-in-out;
        backface-visibility: hidden;

        &:hover {
          animation: shake 0.6s ease-in-out;
        }
      }
    }
  }
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 16rem;
  width: 32rem;
  border-radius: 5px;
  border: 2px dashed #007bff;
  background-color: #f9f9f9;
  color: #007bff;
  outline: none;
  transition: all 0.24s ease-in-out;

  &:hover {
    border-color: #0056b3;

    p {
      color: #0056b3;
    }
  }

  p {
    width: 80%;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all 0.24s ease-in-out;
  }
}

.p-dialog {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.2rem;
  width: 32rem;

  .p-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1.2rem;
    position: relative;
    overflow: hidden;

    h4 {
      align-self: flex-start;
      font-size: 2.4rem;
      font-weight: 600;
      color: #333;
    }

    .close-btn {
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
      font-size: 2.4rem;
      color: #333;
      cursor: pointer;
      transition: all 0.24s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    canvas {
      box-shadow: inset 0 0 1.2rem #ccc;
    }

    .crop-actions {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      width: 100%;

      .slider {
        margin: 0 1.2rem;
        flex-grow: 1;
      }
    }
  }
}

.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.4);
}

.p-dialog-header {
  display: none;
}

.timeline-section {
  .timeline-container {
  }
}
